body{
    background-color: rgb(98, 170, 199);
    color: rgb(85, 85, 85);
    font-family: Verdana;
    text-align: center;
    justify-content: center;
    align-items: center; 
    padding: 5px;
    margin-left: 40px;
    margin-right: 40px;
}

header{
    padding: 5px;
}

footer{
    color: rgb(85, 85, 85);
    padding: 5px;
}

div{
    display: flex;
    justify-content: center;
}

p{
    width: 800px;
    background-color: rgb(212, 212, 93);
}

ul a{
    color: rgb(85, 85, 85);
    text-decoration: none;
}

li{
    display: inline-block;
    height: 22px;
    width: 100px;
    padding: 5px;
    color: rgb(85, 85, 85);
    background-color: rgb(212, 212, 93);
}

li:hover{
    background-color: rgb(76, 179, 76);
    border-style: none;
}

table{
    border: "5";
    width: 800px;
    text-align: center;
    padding: 5px;
    color: rgb(85, 85, 85);
    background-color: rgb(153, 153, 153);
    }

td, th{
    padding: 5px;
    background-color: rgb(212, 212, 93);
}    

input[type="text"], input[type="email"], textarea, button{
    display: block;
    width: 800px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgb(212, 212, 93);
}

textarea{
    height: 200px;
    background-color: rgb(212, 212, 93);
    padding: 5px 5px;
}

button:active{
    background-color: rgb(212, 212, 93);
    color: rgb(85, 85, 85);
    border-radius: 8px;
}